/* *{
    background-color: rgb(237, 133, 235); /* es para ponerle color a la pagina */ */

    body{
        margin: 0px;
    }
    
    /*div{
        padding: 20px; /* separa un elemento de otro adentro de la misma caja, segun los div} */
    
    #main{
        background-color: bisque;
    }
    
    nav{
        background-color:rgb(202, 164, 202);
        display: flex;
        flex-direction:row;
        height: 120px;
    }
    
    nav ul{ /* adentro del nav todas las listas desordenadas se muestren como flex */
        display: flex;
    }
    
    nav li{
        margin-left: 20px;
        list-style: none; /* para sacarle los puntos que por default pone li */
    }
    
    nav a{
        text-decoration:dashed; /* sacamos el subrayado de los hipervinculos */
        color: rgb(0, 0, 0); /* le cambia el color a los botones */
    }
    
    nav a:hover{ /* para cuando te paras arriba y cambia de color */
        color: coral 
    }
    
    nav img{
        display: flex;
            max-height: 150px;
            width: auto ;
    }

    .fa-brands fa-skyatlas{
        width: 200px
    }
    

    .menuButton{
        display: flex;
        background-color: rgb(202, 164, 202);
        align-items: center; /* no te lo pone ni arriba ni abajo, en el medio */
        justify-content: flex-end; /* manda todos los botones al final de la caja */
        width: 100%;
        padding: 20px;
    }
    
    /* flex: transofrmo listas en botoneras, acomode los hipervinculos que estaban abajo, a la derecha */
   /*  boton con estilo */


   #presentacion{
    background-color: rgb(255, 205, 235);
    display:flex;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }

   #presentacion img{
    margin:30px;
   }

   #productos{
    background-color: rgb(255, 205, 235);
    display:flex;
    flex-direction: row;
    margin: none;
    padding: none;
    justify-content:center;
   }

   #productos .btn-group{
    margin: 30px;
   }

   #productos-estrellas{ /* quiero que los botones de productos estrellas me queden alineados todos en el mismo nivel y pense que poniendole la misma altura al encabezado, imagenes y parrafos iba a suceder pero no se alinean. */
    background-color: rgb(255, 205, 235);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:30px; 
    padding:20px;
    justify-content: space-evenly;
   }

   #productos-estrellas img{
    height: 250px;
    width: auto;
   } 

   #productos-estrellas h5{
    height:70px;
   }

   #productos-estrellas p{ /* me gustaria que los parrafos no tengan esos espacios entre algunas palabras (nose como sacarlo) */
    width:auto;
    height:130px;
    text-align: justify;
   }

   .card{
    background-color: beige;
    display: flex;
    align-items: center;
   }

   #formulario{
    background-color: rgb(255, 205, 235);
    display:flexbox;
    margin: 30px;
    padding: 20px;
   }

   #descubriendo {
    margin: 40px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #descubriendo h4 {
        color:rgb(64, 64, 64);
    }

    #descubriendo h3 {
        margin-bottom: 30px;
        font-style:italic;
        color:rgb(201, 107, 194);
        align-content: center;
    }

    #descubriendo .col-4 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #descubriendo .col-4 p {
        height: 200px;
        width: 80%;
    }

    #descubriendo h5 {
        color: rgb(70, 24, 110)
    }

    #descubriendo img {
        width: 50%;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    #descubriendo p{ 
        width:auto;
        height:130px;
        text-align: justify;
        margin-bottom: 70px;
       }

    #diagnostico {
        margin: 40px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #diagnostico h4 {
        color:rgb(64, 64, 64);
    }

    #diagnostico h3 {
        margin-bottom: 30px;
        font-style:italic;
        color:rgb(201, 107, 194);
        align-content: center;
    }

    #diagnostico{
        background-color: rgb(255, 205, 235);
        display:flexbox;
        margin: 30px;
        padding: 20px;
       }

    #diagnostico .form-check{
        display: flexbox;
    }

   footer section{
    display:flex
   }

   footer{
    background-color:rgb(202, 164, 202);
    display:flex;
    justify-content: space-evenly;
   }

   footer li{ /* saco los puntos de los items del nav */
    list-style: none;
   }

   footer a{ /* saco el subrayado a los enlaces */
    text-decoration: none;
    color: black;
   }

   footer a:hover{ 
    color:rgb(223, 75, 164);
   }

   .my-element {
    --animate-repeat:infinite;
  }

  hr{
    color:brown !important;
  }

